@{
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/custom-css/custom.css" rel="stylesheet" />
@* Show Notification *@
<div class="toast-container position-absolute top-0 end-0 p-3">
    <div class="toast">
        <div class="toast-header">
            <strong class="me-auto">Notification:</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <a asp-controller="Employees" asp-action="Index" class="btn btn-primary">Back</a>
    </div>
    <div class="card-body">
        <form method="post" class="row g-3 needs-validation" novalidate">
            <div class="modal-body">
                <input type="text" hidden class="form-control" id="emp_id">

                <div class="mb-3">
                    <label class="form-label">Name:</label>
                    <input type="text" class="form-control" id="name" required>
                    <div class="valid-feedback"> Looks good! </div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                    <div class="valid-feedback"> Looks good! </div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Contact</label>
                    <input type="tel" class="form-control" id="phone" pattern="[789][0-9]{9}" min="10" max="10" required>
                    <div class="valid-feedback"> Looks good! </div>
                    <div class="invalid-feedback">Please enter valid contact number of 10 digits.</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave">Save</button>
            </div>
        </form>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/custom-js/employee.js"></script>

<script>

    var CrudUrls = {

        EmployeeAdd: '@Url.Action("PostEmployee","Employees")',
    }
    var x = new crudOperation();
    x.init();

</script>